.gallery .control-button {
  color: #5e5f5e;
  color: rgba(94, 95, 94, 0.4);
}

.gallery .control-button:hover {
  color: #5e5f5e;
  color: rgba(51, 52, 51, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: absolute;
  margin-top: 60px;
  margin-left : auto;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #ffffff;
  opacity: 100;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 0.02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color 0.1s;
}
