.libre {
    background-color: lightgreen;
}

.occupee {
    background-color: red;
}

.place a:hover {
    opacity: 0.5;
    cursor: pointer;
}

#place_info table {
    margin: auto;
}

#view {
    float: left;
    margin-left: 50px;
}

a:hover
{
    font-style: oblique;
}
