.libre {
    background-color: lightgreen;
}

.occupee {
    background-color: red;
}

.place:hover {
    opacity: 0.5;
    cursor: pointer;
}

#place_info {
    float: right;
    margin-right: 5%;
}

#view {
    float: left;
    margin-left: 50px;
}

a:hover
{
    font-style: oblique;
}
