body
{
	background:#fff;
	font-weight: 300;
	/*color: "777;   FP*/
	color:#777;
	line-height: 1.65em;
	font-size: 16px;
	/*text-align: center:  FP*/
	text-align: center;
}

header
{
	border-bottom: 2px solid #e5e5e5;
}

header h1
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #ed786a;
	font-size: 2.5em;
	letter-spacing: 15px;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
}


header h2
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: gray;
	letter-spacing: 12px;
	font-size: 2em;}



header p
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	color: #888;
}

section
{
	text-align: center;
}

.thumbpic
{
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}


img
{
	width: 70%;
	text-align: center;
	
}

footer
{
	text-align: center;
	width: 100%;
	background-color: #f0f0f0;
	border-top: 2px solid #e5e5e5;
	color: #666;
}


/********************************************************************************
menu
********************************************************************************/
nav
{
    left: 0;
    width: 100%;
}

nav  ul  li
{
    display: inline-block;
    padding-right: 2em;
    cursor:pointer;
}

nav ul  li  a
{
    border: 0;
    text-decoration: none;
    font-weight: 400;
    color: #777;
}

nav  ul  li a:hover
{
    color: #ed786a;
    border-bottom-color: rgba(255,255,255,0);
}

nav  span.fa-stack
{
    font-size:1.2em;
}

nav i.fa-inverse {color: #e4e4e4;}
nav i.fa-circle { }

nav  ul  li  a:before
{
    display: inline-block;
    background: #878787;
    color: #e4e4e4;
    width: 1.65em;
    height: 1.65em;
    border-radius: 1.65em;
    line-height: 1.65em;
    text-align: center;
    box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);
    margin-right: 0.75em;
}

nav > ul > li.active > a:before,
nav > ul > li:hover > a:before
{
    background: #ED786A;
    color: #fff;
}

nav > ul > li.active > a > span,
nav > ul > li:hover > a > span
{
    color: #ED786A;
}

/*2e niveau*/

nav  ul > li
{
    position: relative;
}

nav  ul li:hover >ul
{
    display:block;
}


nav  ul ul
{
    position: absolute;
    left: 0;
    top: 2.2em;
    display: none;
    text-align: left;
    z-index: 1000;
    min-width: 10em;
    padding: 0;
    margin:-10px;

    border: solid 1px #e5e5e5;
    border-radius: 4px;
    background: #fff;
    background: rgba(255,255,255,0.965);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);


}

nav  ul ul li
{
    position:relative;
    line-height: 1.2em;
    border-bottom: solid 1px #e5e5e5;
    padding: 1em 0 1em 0;
    width: 100%;
}

nav  ul ul li  i { padding-left: 1em;}

nav  ul ul li  a
{
    font-size:1em;
    text-transform: none!important;
    padding-left: 1em;
}
