@import
url("http://fonts.googleapis.com/css?family=Open+Sans:400");


body
{
	background:#fff;
	font-weight: 300;
	/*color: "777;   FP*/
	color:#777;
	line-height: 1.65em;
	font-size: 16px;
	/*text-align: center:  FP*/
	text-align: center;
}

header
{
	border-bottom: 2px solid #e5e5e5;
}

header h1
{
    position: fixed;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #ffffff;
	font-size: 2.5em;
	letter-spacing: 15px;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
}


header h2
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: gray;
	letter-spacing: 12px;
	font-size: 2em;}



header p
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	color: #888;
}

section
{
	text-align: center;
}

.thumbpic
{
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

.bouton
{
    margin-top: 600px;
}

img
{
    width: 100%;
	text-align: center;
	
}

footer
{
	text-align: center;
	width: 100%;
	background-color: #f0f0f0;
	border-top: 2px solid #e5e5e5;
	color: #666;
}


/********************************************************************************
menu
********************************************************************************/
nav
{
    /*Pour faire suivre le menu quand on deroule la page*/
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #333433;
    color: #ffffff;
    font-family: 'Open Sans';
}

/*mise en forme du menu*/
nav  ul  li
{
    display: inline-block;
    padding-right: 2em;
    cursor:pointer;
}

/*style police*/
nav ul  li  a
{
    border: 0;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}
/*ne sert a rien j'ai l'impression*/
/*nav  ul  li a:hover*/
/*{*/
    /*color: #ffffff;*/
    /*border-bottom-color: rgba(255,255,255,0);*/
/*}*/

/*nav  span.fa-stack*/
/*{*/
    /*font-size:1.2em;*/
/*}*/

/*nav i.fa-inverse {color: #ffffff;}*/
/*nav i.fa-circle { }*/

/*nav  ul  li  a:before*/
/*{*/
    /*display: inline-block;*/
    /*background: #333433;*/
    /*color: #ffffff;*/
    /*width: 1.65em;*/
    /*height: 1.65em;*/
    /*border-radius: 1.65em;*/
    /*line-height: 1.65em;*/
    /*text-align: center;*/
    /*box-shadow: 0.125em 0.175em 0 0 rgba(0,0,0,0.125);*/
    /*margin-right: 0.75em;*/
/*}*/

/*nav > ul > li.active > a:before,*/
/*nav > ul > li:hover > a:before*/
/*{*/
    /*background: #ffffff;*/
    /*color: #fff;*/
/*}*/

/*nav > ul > li.active > a > span,*/
/*nav > ul > li:hover > a > span*/
/*{*/
    /*color: #ffffff;*/
/*}*/

/*2e niveau*/

nav  ul > li
{
    position: relative;
}

nav  ul li:hover >ul
{
    display:block;
}


nav  ul ul
{
    position: absolute;
    left: 0;
    top: 2.2em;
    display: none;
    text-align: left;
    z-index: 1000;
    min-width: 10em;
    padding: 0;
    margin:-10px;

    border-radius: 4px;
    background: rgba(51, 52, 51, 0.96);
}

nav  ul ul li
{
    position:relative;
    line-height: 1.2em;
    border-bottom: solid 1px #e5e5e5;
    padding: 1em 100em 1em 0;
    width: 100%;
   }

/*nav  ul ul li  i { padding-left: 1em;}*/

/*nav  ul ul li  a*/
/*{*/
    /*font-size:1em;*/
    /*text-transform: none!important;*/
    /*padding-left: 1em;*/
/*}*/
