@import
url("http://fonts.googleapis.com/css?family=Open+Sans:400");

@font-face {
    font-family: 'MNSTRIAL';
    src: url('../fonts/mnstrial/MNSTRIAL.eot');
    src: local('MNSTRIAL'), url('../fonts/mnstrial/MNSTRIAL.woff') format('woff'), url('../fonts/mnstrial/MNSTRIAL.ttf') format('truetype');

}

html {
    height: 100%;
}

table {
    position: relative;
    border-width:1px;
    border-style:solid;
    border-color:darkslategray;
    border-collapse:collapse;

}
td {
    border-width:1px;
    border-style:solid;
    border-color:grey;
}
body
{
    position: relative;
    top:70px;
	font-weight: 300;
	color:#777;
	line-height: 1.65em;
	font-size: 16px;
	text-align: center;
    align-content: center;
    margin:0;
    background-image: url("../media/images/background.jpg");
    background-attachment: fixed;
    height: 100%;
    padding-bottom: 100px;
}

header
{
	border-bottom: 2px solid #e5e5e5;
}

.titre img{
    width: 20%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.img_nav {
    width: 6%;
    position: absolute;
    left: 0;
}

h1
{
    color: darkorange;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 2em;
	letter-spacing: 10px;
	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
}

h2
{
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: gray;
	letter-spacing: 12px;
	font-size: 2em;}

h3
{
    font-family: MNSTRIAL;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    color: orange;
    font-size: 2em;

}

h4 {
    font-size: 1.4em;
    color: red;

}

.slider{
    margin-left: 12%;
    margin-right: 12%;
}


.col-md-3{
    margin-right: 10px;
    margin-left: 10px;
}


.reserv {
    background: lightgrey;
    width: 76.5%;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 0.7;
    border-width: 3px;
    border-radius: 8px;
    box-shadow: grey 10px 8px 4px;
}

.button_reserv {
    width: 300px;
    height: 60px;
    left:0 ;
    font-size: 1.6em;
    background: linear-gradient(aliceblue, lightblue);
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    border-width: 3px;
    border-radius: 8px;
}

.button_reserv:hover{
    background: yellow;
}

.button_reserv:active{
    background: aliceblue;
}

.button_price {
    width: 300px;
    height: 60px;
    left: 0;
    font-size: 1.6em;
    background: linear-gradient(orange, orangered);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    border-width: 3px;
    border-radius: 8px;
    color: white;
}

.button_price:hover {
    background: forestgreen;

}


.button_reserv:active {
    background: orange;
}




.encart_reserv{
    width: 250px;
    height: 50px;
    background: aliceblue;
    font-size: 1.4em;
    border-width: 3px;
    border-radius: 7px;
}

.encart_datepicker{
    width: 250px;
    height: 50px;
    background: aliceblue;
    font-size: 1.4em;
    border-width: 3px;
    border-radius: 7px;
}

.select_reserv{
    width: 280px;
    background: aliceblue;
    font-size: 2em;
    border-width: 3px;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: 100;
}






.map {
    width: 100%;
}



td{
    align-content: center;
}



section
{
	text-align: center;
}

.thumbpic
{
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

.bouton
{
    margin-top: 600px;
}

img
{
    width: 100%;
	text-align: center;

}

.img_center img {
    width: 50%;
}

/********************************************************************************
contenu
********************************************************************************/
.main {
    padding-bottom: 100px;
}

/********************************************************************************
footer
********************************************************************************/

footer
{
    height: 30px;
	text-align: center;
    background-color: black;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
}

.footer_left section {
    text-align: left;
    margin: 25px;
    font-size: 0.7em;
    display: inline;

}

/********************************************************************************
menu
********************************************************************************/
nav {
    /*Pour faire suivre le menu quand on deroule la page*/
    text-align: right;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    height: 57px;
    background: #333433;
    color: #ffffff;
    font-family: 'Open Sans';
    z-index: 99;
    opacity: 70;
}


/*mise en forme du menu*/
nav  ul  li
{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    cursor:pointer;
    left: -20%;
}

/*style police*/
nav ul  li  a
{
    border: 0;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

/*Changement couleur lien menu avec passage souris*/
nav ul li:hover
{
    color: #d0d1d0;
}

nav ul  li  a:hover
{
    color: #d0d1d0;
}

.fa:hover
{
    color: #d0d1d0;
}

/*2e niveau*/

nav  ul > li
{
    position: relative;
}

nav  ul li:hover >ul
{
    display:block;
}

nav  ul ul
{
    position: absolute;
    left: 0;
    top: 2.2em;
    display: none;
    text-align: left;
    z-index: 1000;
    min-width: 10em;
    padding: 0;
    margin: -10px;
    border-radius: 4px;
    background: rgba(208, 209, 208, 0.96);
}

nav  ul ul li
{
    left:0;
    position:relative;
    line-height: 1.2em;
    border-bottom: solid 1px #e5e5e5;
    padding: 1em 0 1em 0;
    width: 100%;
    color: #333433;
}

nav  ul ul li  a
{
    font-size:1em;
    text-transform: none!important;
    padding-left: 1em;

}



